#body {
  background: #fff !important;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #F1F3FF;
  height: 36.5rem;
  max-width: 100%;
}

.navbar-brand {
  position: relative;
  width: 100px;
  height: 34px;
  background-color: #0D28A6;
}

.sewa p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #000;
  margin-top: 50px;
}

.sewa p.binar-car,
.home .sewa p.binar-lorem {
    font-size: 14px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 20px;
    color: #000;
}

img.home-car {
  position: absolute;
  width: 570px;
  z-index: 1;
  left: 41rem;
}

.bg {
  position: absolute;
  width: 100%;
  height: 225px;
  background-color: #0D28A6;
  border-top-left-radius: 50px;
  margin-top: 8.3rem;
}

#our-service {
  background: #fff;
  width: 120%;
  position: relative;
  left: -5rem;
  margin-top: 32px;
  height: 40rem;
}

.binar-sewa-mobil {
  position: absolute;
  left: 40rem;
}

.binar-img img {
  width: 450px;
}

p.sewa-mobil {
  font-size: 14px;
}

ul li img {
  width: 20px;
}

ul li {
  font-size: 14px;
  font-style: normal;
  list-style: none;
}

#why-us {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  left: -4.5rem;
  width: 120%;
  height: 30rem;
}

h2.whyus {
  font-weight: 700;
  margin-left: 30px;
  font-size: 24px;
}

.why-us p.whyus {
  margin-left: 30px;
  font-size: 14px;
}

#why-us h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#testimonial {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  left: -4.5rem;
  width: 120%;
  height: 20rem;
}

.review {
  font-size: 14px;
  line-height: 20px;
}

#sewa-mobil {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  left: -4.5rem;
  width: 120%;
  height: 20rem;
}

.banner h1 {
  font-size: 36px !important;
  line-height: 150%;
}

.banner .card {
  background-color: #0D28A6;
  margin: 0 126px;
}

.banner .card-text {
  margin: 0 20%;
  font-size: 14px;
}

#faq {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  left: -4.5rem;
  width: 120%;
  height: 30rem;
}

.asked h3 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 36px;
}

.asked p {
  font-size: 14px;
  line-height: 20px;
}

.asked-coloumn-2 {
  position: relative;
  left: -10rem;
}

footer#home {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  top: 0rem !important;
  left: -4.5rem;
  width: 120%;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  top: -19rem !important;
  left: -4.5rem;
  width: 120%;
}

.footer-brand {
  width: 100px;
  height: 34px;
  background-color: #0D28A6;
}

footer.cars {
  position: relative;
  top: -11rem;
  /* height: 30rem; */
}

.bg-cars {
  background: #fff;
  height: 20rem;
  width: 120%;
  position: relative;
  left: -4.9rem;
  top: -9.5rem;
}

.filter {
  z-index: 1;
  position: relative;
  top: -70px;
  font-size: 12px;
  font-family: 'rubik';
}

.row-cars {
  background: #000;
  background: #fff;
  position: relative;
  left: -3.8rem;
  top: -19rem;
  width: 115%;
}